body {
  align-items: center;
  /* width: ; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden;
  font-weight: 500;
}
